
/*CSS GENERAL*/

html{


	background-color: transparent;
	
}

body{

	background-image: url("/img/image.png");
  	background-repeat: no-repeat;
  	background-size: cover
	
}

#titre_auto_eval,#btn_donnees,#btn_gestion_formation,#btn_gestion_utilisateur,#btn_deconnexion,#label_email_form_connexion,#label_mdp_form_connexion,#input_checkbox_form_connexion,#btn_submit_login,#titre_form_impact_formation,#titre_form_impact_formation1,#titre_modif_mdp,#sous_titre_modif_mdp,#btn_apprenant_quest_formation,#btn_apprenant_quest_formateur,#btn_apprenant_com_fin_sem,#btn_questionnaires,#btn_apprenant_programme,#btn_disabled_validation_com2_formation,#head_tab_apprenant_client,#btn_form_client,#btn_impact_form_client,#header_com_groupe,#btn_suppr_user_haut,#header_ajout_formation,#color_heading9,#header_liste_apprenants,#header_add_user,#entete_liste_com,#text_nav_link,#titre_page_connexion,#titre_page_commentaire,#titre_interface_formateur,#titre_profil,#titre_questionnaire_formateur,#titre_interface_client,#header_item_utilisateur,#header_tableau_apprenants,#header_tableau_apprenants_formateur,#label_retard_absence,#label_note{

	font-family: 'GothamLight';
    src: url('/fonts/Gotham-Light.eot');
    src: url('/fonts/Gotham-Light.otf') format('opentype'),
         url('/fonts/Gotham-Light.eot?iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Light.woff') format('woff'),
         url('/fonts/Gotham-Light.ttf') format('truetype'),
         url('/fonts/Gotham-Light.svg#gothamlight') format('svg');

}

#text_nav_link,#titre_page_connexion,#titre_page_commentaire,#titre_interface_formateur,#titre_profil,#titre_questionnaire_formateur,#titre_interface_client,#header_item_utilisateur,#header_tableau_apprenants,#header_tableau_apprenants_formateur,#label_retard_absence,#label_note{


    font-size: 22px;
}

#head_tab_apprenant_client,#btn_form_client,#btn_impact_form_client,#header_com_groupe,#btn_suppr_user_haut,#header_ajout_formation,#color_heading9,#header_liste_apprenants,#header_add_user,#entete_liste_com{

    color: black;
    text-align: center;
}

#row_profil_mdp{

	margin-top: 1%;
}


.badge{

	box-shadow: 1px 1px 4px black;
}

#titre_page_connexion {

	color: white;
	width: 100%;
	text-shadow: 2px 2px 4px black;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 30px;
	text-align: center;
	margin-top: 2%;

}

#titre_page_commentaire{

	margin: auto;
	margin-top: 1%;
	width: 60%;
	color: white;
	font-size: 30px;
	text-align: center;
	padding-bottom: 1%;
	text-shadow: 2px 2px 4px black;
}

#titre_interface_formateur{

	color: white;
	text-shadow: 2px 2px 4px black;
	margin-top: 2%;
	font-size: 30px;
	
}

#titre_profil{

	margin: auto;
	color: white;
	width: 50%;
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	margin-top: 1%;
	
}

#titre_questionnaire_formateur{

	margin-top: 2%;
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px 4px black;
	
}

.card{

	border-radius:2px;
}

#img_menu{

	max-width: 180px;
	max-height: 120px;
	box-shadow: 1px 1px 5px #2D3F58;
}

.links{

	width: 50%;

}

#btn_connexion,#btn_accueil_welcome{

	margin-top: 2%;
	width: 50%;
	color: white;
	font-size: 25px;
	border: 2px #E0002D solid;
	box-shadow: 1px 1px 5px black;
}

#welcome_extranet{

	margin-top: 2%;
	color: #E0002D;
	text-align: center;
	font-size: 40px;
}

#div_show_error{

	z-index: 1;
	color: red;
	text-align: center;
	background-color: white;
	box-shadow: 1px 1px 5px red;
	border: 2px red solid;
	margin-top: 2%;
	font-size: 18px;
	border-radius: 2px;

}

#div_show_success{

	z-index: 1;
	color: green;
	text-align: center;
	background-color: white;
	box-shadow: 1px 1px 5px green;
	border: 2px green solid;
	margin-top: 2%;
	font-size: 18px;
	border-radius: 2px;

}

#initials_user{


	color:black;
	font-size: 20px;
	width: 4%;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px #E0002D solid;	

}

#initials_user:hover{
	
	background-color: #2D3F58;
	color: white;

}

.form-control{

	color: black;
}

.nav-link{

	color: #2D3F58;
	border-radius: 1px;
}

#text_nav_link:hover{

	color: white;
	border-radius: 1px;
}

.nav-item:hover{

	box-shadow: 1px 1px 10px #2D3F58;
	border-radius: 1px;
	background-color: #2D3F58;

}

#btn_deconnexion,#label_email_form_connexion,#label_mdp_form_connexion,#input_checkbox_form_connexion,#btn_submit_login{

	color: #E0002D;
	height: 40px;
	text-align: center;
	border: hidden;
	font-size: 18px;
	
}

#btn_deconnexion:hover{

	box-shadow: 1px 1px 10px red;
	border-radius: 5px;
	background-color: #E0002D;
	color: white;
	border-radius: 1px;
}

#exampleFormControlTextarea1{

	max-height: 300px;
}

#select_stagiaire_retard_formateur,#select_absoureta_retard_formateur{

	width: 50%;
}

.card-body,.panel-body,.card-header{
	
	border: none;
	box-shadow: none;

}

#menu_universel{

	background-color: #b3b3ff; 
}


#date_jour{

	font-size: 20px;
	width: 4%;
	color: #2D3F58;
	margin-right: 10%;
	
}

#lien_connexion_deco{

	margin-left: 1%;
}

/*CSS Page accueil_admin*/

#headingOne,#headingTwo,#headingFive,#headingNine,#headingTen{

	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;
}

#color_heading9{

	color: red;
}

#input_suppr_form{

	margin-top: 2%;
}

#collapseNine,#collapseTen{

	background-color: transparent;
	color: white;
	padding-bottom: 1%;
	box-shadow: 1px 1px 5px black;
	border: 1px white solid;
}

#msg_warning_suppr{

	border: 2px red solid;
	background-color: white;
	color: red;
	margin-bottom: 5%; 
	margin-top: 2%;
	padding: 1%;
	box-shadow: 1px 1px 5px black;
}


#headingSix{

	border: 2px red solid;
	border-top: hidden;
	background-color: white;	
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;
}

#btn_suppr_user_haut{

	color: red;
}

#headingOne{

	border-color: #E0002D;
	background-color: white;
}

#container_bonjour{

	width: 100%;
}

#contenu_form1,#contenu_form2,#contenu_form3,#contenu_donnees,#gestion_formation,#gestion_utilisateurs,{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;

}

#contenu_donnees{

	height: 200px;
}

#btn_ajout_confirm_apprenant{

	width: 100%;
}

#marg_check_sexe{

	margin-right: 10%;
}

#titre_form_apprenant,#titre_form_formateur,#titre_form_entreprise,#nom_user_courant{

	text-align: center;
	margin-bottom: 2%;
}

#btn_donnees,#btn_gestion_formation,#btn_gestion_utilisateur{

	width: 100%;
	margin: auto;
	background-color: transparent;
	box-shadow: 1px 1px 5px black;
	border: 1px solid #E0002D;	
	color: white;
	border-radius: 2px;
	font-size: 20px;

}

#email,#password{

	box-shadow: 1px 1px 5px black;

}

.accordion_formateur{

	margin-top: 1%;
	border-radius: 1px;
}

#card_com_jour{

	background-color: transparent;
}

#btn_switch_to_form,#btn_switch_to_client{

	background-color: white;
	color: #2D3F58;
}

#btn_switch_to_form:hover{

	background-color: #2D3F58;
	color: white;
}

#btn_switch_to_form:active{

	cursor: wait;
}


#btn_switch_to_client:hover{

	background-color: #2D3F58;
	color: white;
}

#btn_switch_to_client:active{

	cursor: wait;
}


.accordion_users{

	margin-top: 1%;
}

#btn_gestion_utilisateur:hover{

	background-color: white;
	color: #2D3F58;
}

#btn_ajout_confirm_formation{

	margin-top: 5%;
	width: 100%;
	color: white;
	border: 1px green solid;
	
}

#btn_ajout_confirm_formation:hover{

	background-color: green;

}

#card_suppr_user{

	background-color: transparent;
}

#collapseSix{

	box-shadow: 1px 1px 5px red;
	background-color: transparent;
}

#collapseFive{

	box-shadow: 1px 1px 5px black;
	background-color: transparent;
}

#btn_donnees:hover{

	background-color: white;
	color: #2D3F58;
}

#btn_gestion_formation:hover{

	background-color: white;	
	color: #2D3F58;
}

#btn_apprenant_programme,#btn_apprenant_quest_formation,#btn_apprenant_quest_formateur,#btn_apprenant_com_fin_sem,#btn_questionnaires{

	
	background-color: #2D3F58;
	box-shadow: 1px 1px 5px black;
	text-shadow: 2px 2px 4px black;
	border: 1px solid #E0002D;	
	color: white;
	border-radius: 2px;

}

#btn_suppr_user_admin{


	border: 1px solid red;	
	border-radius: 2px;
	color: white;
	box-shadow: 1px 1px 5px black;
	margin-top: 5%;
	margin-bottom: 2%;
	width: 100%;

}

#btn_suppr_user_admin:hover{


	background-color: red;
	border: 1px solid white;	

}

#btn_collapse_6{

	background-color: red;
	color: white;
}



#btn_apprenant_programme:hover{

	background-color: white;
	color: #2D3F58;
	border: #E0002D;
	border-radius: 2px;
	text-shadow: none;
}

#btn_questionnaires:hover{

	background-color: white;
	color: #2D3F58;
	border: #E0002D;
	border-radius: 2px;
	text-shadow: none;
}

#btn_apprenant_quest_formation:hover{

	background-color: white;
	color: #2D3F58;
	border: #E0002D;
	border-radius: 2px;
	text-shadow: none;
}

#btn_apprenant_quest_formateur:hover{

	background-color: white;
	color: #2D3F58;
	border: #E0002D;
	border-radius: 2px;
	text-shadow: none;
}

#btn_apprenant_com_fin_sem:hover{

	background-color: white;
	color: #2D3F58;
	border: #E0002D;
	border-radius: 2px;
	text-shadow: none;
}

#btn_disabled_validation_com2_formation{

	width: 100%;
	color: white;
	border: 1px white solid;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;
	text-align: center;
	height: 45px;
	padding-top: 1%;
	margin-top: 2%;
}

#input_text_com_1,#input_text_com_2{

	box-shadow: 1px 1px 5px black;
}

#btn_download_programme{

	color: white;
	border-radius: 2px;
	border: 1px white solid;
	box-shadow: 2px 2px 4px black;
}

#btn_download_programme:hover{

	color: #2D3F58;
	background-color: white;
}

#btn_valider_retard_absence:hover{

	background-color: #FF8C00;
	color: white;
}

#btn_form_client,#btn_impact_form_client{

	margin-top: 1%;
	width: 100%;
	height: 60px;
	background-color: white;
	border-radius: 2px;
	border: 1px #2D3F58 solid;
	font-size: 20px;
	box-shadow: 1px 1px 5px black;
	color: black;
}

#btn_telecharger_tab_formateur_admin,#btn_telecharger_tab_formateur_admin{

	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#form_register_users{

	width: 100%;
}

#selection_role{

	width: 50%;
	margin-left: auto;
	margin-right: auto;
}




#body_interface_formateur,#body_interface_client{

	background-color: transparent;
	text-align: center;
	width: 95%;
	margin-top: 0.5%;
	margin-left: auto;
	margin-right: auto;
}

#body_interface_apprenant{

	background-color: transparent;
	text-align: center;
	width: 95%;
	margin-top: 0.5%;
	margin-left: auto;
	margin-right: auto;
}

#btn_apprenant_programme,#btn_apprenant_quest_formation,#btn_apprenant_quest_formateur,#btn_apprenant_com_fin_sem,#btn_questionnaires{

	
	width: 250px;
	color: white;
}

#btns_questionnaires{

	margin-top: 2%;
}


#label_presence_2m,#label_presence_6m,#label_select_stagiaire,#label_embauche_stagiaire{

	font-weight: bold;

}

#header_interface_client_infos{

	border: 1px black solid;
}

#btn_impact_form_client{

	margin-top: 1%;
}

#row_profil,#row_profilApp{

	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#row_profilApp{

	margin-top: 1%;
}

#tableau_gestion_admin_infos_users,#tab_infos_inteface_client {

	height: 400px;
	width: 100%;
    overflow-y:scroll;
    margin-bottom: 2%;
    position: static;
}

#tableau_gestion_admin_infos_apprenants,#tableau_gestion_admin_infos_formateurs,{

	min-height: 270px;
	width: 100%;
	margin-right: auto;
	margin-left: auto; 
    margin-bottom: 1%;
    padding-top: 1px;
   
}

#tab_admin_apprenants,#tab_formateur_admin{

	height: 400px;
	overflow-y:scroll;
	position: static;
	box-shadow: 1px 1px 5px black;
	border: 1px white solid;

}

#tab_admin_formations{

	
	height: 270px;
	border: 1px white solid;
	box-shadow: 1px 1px 5px black;
	overflow-y:scroll;
	position: static;
	background-color: transparent;
}

#collapseOne{

	background-color: transparent;
}

#btn_valider_com_jour,#btn_ajouter_com_formateur_to_apprenant,#btn_valider_retard_absence,#btn_valider_note,#inputGroupSelect01,#btn_ajout_user_admin,#role,#nom,#numero_telephone,#prenom,#password-confirm,#exampleFormControlTextarea2,#choix_dat_form,#btn_ajout_confirm_formation,#btn_get_excel_apprenant,#btn_ajout_liste_apprenants,#select_formation_com_journalier,#btn_submit_change_mdp{

	box-shadow: 1px 1px 5px black;

}

#exampleFormControlTextareaApp,#inputGroupSelectapp,#btn_ajouter_com_formateur_to_apprenant,#btn_valider_retard_absence,#btn_valider_note{

	border-radius: 2px;

}

span{

	box-shadow: 1px 1px 5px black;
}


.custom-file{

	margin-bottom: 2%;
	box-shadow: 1px 1px 5px black;
}



.nav-item{

	font-size: 20px;

}

.list-group{

	margin: 0px;
}

#form_satisfaction_formateur,#form_satisfaction_formation{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

li.list-group-item{

	height: 130px;
	padding-bottom: 1px;
	border-color: #2D3F58;
	box-shadow: 1px 1px 5px black;
	
}

#item_list_profil{

	height: 60px;
	margin-top: 1%;
	box-shadow: 1px 1px 5px black; 

}

#input_profil_mdp,#input_profil_confirm_mdp{

	height: 45px;
	margin-top: 5%;
	box-shadow: 1px 1px 5px black;
}

#btn_submit_change_mdp{

	margin-top: 5%;
	width: 50%;
	display: block;
	margin-right:auto;
	margin-left: auto;
	color: white;
	border: 1px green solid;

}

#btn_submit_change_mdp:active{

	cursor: wait;

}

#item_details_users,#item_suivi_embauche{

	background-color: rgba(255, 255, 255, 0.1);
	height: 60px;
	padding-bottom: 1px;
	color: white;
	border: 1px white solid;

}

#header_item_utilisateur{

	font-size: 18px;
	background-color: white;
	border-color: white;
	border-radius: 2px;
	color: #2D3F58;
	height: 50px;
	box-shadow: 1px 1px 5px black;

}

#head_tab_apprenants_admin{

	background-color: #2D3F58;
	color: white;
}

h6{

	width: 100%;
}

.titre_quest_form{

	padding-top: 1%;
	display: inline-block;
	text-align: left;

}

#myTable{

	background-color: white;
}


input[type=radio] {

  	margin: 2%;
  	padding-bottom: 5%;

}


#form_satisfaction_formateur,#form_satisfaction_formation{

	margin-top: 1%;
}

#titre_form_info_recrut,#titre_form_info_enviro_form,#titre_form_info_contenu_obj,#titre_form_info_peda{

	text-align: center;
	margin-top: 1%;
	background-color: white;

}

#form_register_commentaire,#form_register_note,#form_absence_retard{

	background-color: transparent;
}

#input_com_formateur_to_apprenant{

	margin-top: 5%;
}

#liste_infos_generales_admin{

	margin-top: 1%;
}

#com_formateur_to_apprenant_txt{

	margin-top: 1%;
	
}


/* CSS Page Connexion*/


#formulaire_page_connexion{

	background-color: rgba(45, 63, 88, 0.6); 
	/*background-color: rgba(255, 255, 255, 0.2);*/
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover
	margin: auto;
	margin-top: 15%;
	box-shadow: 1px 1px 5px black;
	border: 1px #E0002D solid;
	border-radius: 2px;
	padding-bottom: 2%;
	padding-top: 2%;

}


#btn_submit_login{

	border-radius: 2px;
	border: 1px #E0002D solid;
	color: white;
	width: 100%;
	height: 50px;
	margin-top: 5%;
	box-shadow: 1px 1px 5px black;
}

#btn_submit_login:hover{

	border: 1px white solid;
	background-color: green;
}

#lien_mdp_oublie{

	color: white;
}

#info_mdp_login{

	color: white;
	background-color: #2D3F58; 
	box-shadow: 1px 1px 5px black;
	text-align:center;
	font-size: 15px;
	margin-left: 1%;
	border-radius: 50%;
	

}

#info_mdp_login:hover{


	background-color: green; 
	

}
#label_mdp_form_connexion{

	margin-top: 4%;
	margin-bottom: 2%;
	color: white;
	font-size: 20px;
	display: block;
	text-align: center;
	
}

#label_email_form_connexion{

	margin-top: 10%;
	margin-bottom: 2%;
	color: white;
	font-size: 20px;
	display: block;
	text-align: center;
}

#input_checkbox_form_connexion{

	color: white;
	display: block;
	text-align: center;
	margin-top: 5%;
}

#form_validation_form_connexion{

	text-align: center;
	margin-top: 5%;

}


/*CSS Page Profil*/

#div_modif_password{

	margin: auto;
	margin-top: 6%;
	padding-bottom: 2%;

}

#titre_modif_mdp{


	margin-top: 3%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px black;
}

#sous_titre_modif_mdp{

	margin-top: 0.5%;
	text-align: center;
	color: white;

}

#myInput{

	border: 1px #2D3F58 solid;
	margin-left: 2%;
	max-width: 20%;
	border-radius: 2px;
	cursor: zoom-in;

}



/*CSS Page Commentaires*/


#affichage_coms_apprenants{

	margin: auto;
	width: 95%;
	padding-bottom: 2%;
	

}

#row_com_sem_apprenant{

	margin: 1%;
	margin-top: 0%;
	border-top: hidden;

	
}

#body_card_com_semaine_apprenant{

	color: white;	
	box-shadow: 1px 1px 5px black;
	border: 1px white solid;
}

#text_com{

	font-size: 16px;
}


#header_card_com_sem_apprenant{

	font-weight: bold;
	background-color: #F8F9FA;;
	color: #2D3F58;
	box-shadow: 1px 1px 5px black;
	border-radius: 2px;
	font-size: 18px;
	
}

#entete_liste_com{

	text-align: center;
	color: white;
	background-color: #2D3F58;
	margin-top: 1%;
	box-shadow: 1px 1px 5px black;
	border: 1px white solid;
	padding-bottom: 1%;
	padding-top: 1%;
	border-radius: 2px;
}

#card_com_sem_apprenant{

	margin-top: 1%;
	border: 1px #2D3F58 solid;
	background-color: white;
	border-radius: 2px;

}

#cadre_scroll_commentaire{

	height: 550px;
	overflow-y:scroll;
	position: static;
	border: 1px white solid;
	box-shadow: 1px 1px 5px black;
}

#row_commentaires{

	border-radius: 2px;
	margin-top: 1%;
	
}

#btn_submit_change_mdp{

	margin-top: 5%;
	width: 50%;
	
	display: block;
	margin-right:auto;
	margin-left: auto;
}

#btn_submit_change_mdp:hover{

	background-color: green;
	color: white;
	border: 1px white solid;

}

/*CSS Page Questionnaire auto evaluation formateur*/


#container_questionnaire_auto_evaluation{

	margin-top: 1%;
	border-radius: 2px;
}


#contenu_form_questionnaire_autoeval{

	padding-left: 1%;

}

#section_auto_eval{

	border: 1px #E0002D solid;
	margin-top: 0.5%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;

}

#section_contenu_pedago{

	border: 1px #E0002D solid;
	margin-top: 0.5%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;

}

#section_materiel_logistique{

	border: 1px #E0002D solid;
	margin-top: 0.5%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;

}

#section_et_demain{

	border: 1px #E0002D solid;
	margin-top: 0.5%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;

}


#titre_auto_eval{

	text-align: center;
	color: white;
	margin-top: 1%;
	margin-bottom: 2%;
	border: 1px white solid;
	border-radius: 2%;
	padding-bottom: 1%;
	text-shadow: 2px 2px 4px black;
	background-color: #2D3F58;
	padding-top: 1%;
}

#label_eval_perf{

	color: white;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;

}

#sous_label_objectif_sem{

	color: white;
	text-align: center;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

#sous_label_objectif_sem1{

	color: white;
	text-align: center;
	margin-top: 0.5%;
	margin-bottom: 2%;
}

#question_perf_form{

	background-color: transparent;
	border: hidden;
	height: 70px;
	text-align: center;
	box-shadow: none;
	color: white;
}

#questions_matos{

	background-color: transparent;
	border: hidden;
	text-align: center;
	color: white;
	box-shadow: none;
}

#label_quest_matos{

	color: white;
	text-align: center;

}

#btn_validation_form_formateur{

	width: 100%;
	height: 60px;
	margin-bottom: 2%;
	margin-top: 5%;
	border: 1px green solid;
	box-shadow: 1px 1px 5px black;
	border-radius: 2%;
	color: white;
	background-color: #2D3F58;
	font-size: 20px;
}

#btn_validation_form_formation{

	width: 100%;
	height: 50px;
	margin-bottom: 2%;
	margin-top: 4%;
	border: 1px green solid;
	box-shadow: 1px 1px 5px black;
	border-radius: 2%;
	color: white;
	background-color: #2D3F58;
	font-size: 20px;
}

#btn_validation_com1_formation{

	width: 100%;
	height: 50px;
	margin-bottom: 2%;
	margin-top: 4%;
	border: 1px green solid;
	box-shadow: 1px 1px 5px black;
	border-radius: 2%;
	color: white;
	background-color: #2D3F58;
	font-size: 20px;

}

#btn_validation_form_formation:hover{

	border: 1px white solid;
	background-color: green;
	
}

#btn_validation_form_formateur:hover{

	border: 1px white solid;
	background-color: green;
}

#btn_validation_com1_formateur:hover{

	border: 1px white solid;
	background-color: green;
}

#btn_validation_com2_formateur:hover{

	border: 1px white solid;
	background-color: green;
}




/*CSS Page interface_client*/

#btn_valider_suivi_client{

	color: white;
	margin-top: 2%;
	height: 50px;
	width: 100%;
	border: 1px green solid;
	box-shadow: 1px 1px 5px black;
}

#btn_valider_suivi_client:hover{


	background-color: green;

}

#row_interface_client{

	background-color: transparent;
}

#card_tab_apprenant_client{

	margin-top: 2%;
	padding-top: -1%;
	background-color: white;
	border-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;
}

#titre_interface_client{

	background-color: transparent;
	color: white;
	font-size: 27px;
	text-shadow: 2px 2px 4px black;
	margin-top: 1%;
}

#header_tableau_apprenants{

	height: 50px;
	font-size: 20px;
	box-shadow: 1px 1px 5px black;
	color: black;
	text-align: center;
	background-color: white;

}

#card_forma_en_cours{

	margin-top: 2%;
	

}

#header_tableau_apprenants_formateur{

	height: 50px;
	font-size: 20px;
	/*font-weight: bold;*/
	color: #2D3F58;
	text-align: center;
	background-color: white;
	border-radius: 1px;
}

#head_tab_apprenant_client,#head_tab_apprenant_formateur{

	background-color: #2D3F58;
	color: white;
}


#lien_download_tab_client{

	color: #2D3F58;
}

#lien_download_tab_client:hover{

	background-color: white;
	color: #2D3F58;
}

#form_suivi_client,#form_impact_client{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px white solid;
	box-shadow: 1px 1px 5px black;
	padding: 1%;
	background-color: transparent;
	color: white;
}

#contenu_form_client{

	color: white;
}

#presence_2_mois,#presence_6_mois,#div_checkbox_embauche{

	margin-top: 2%;
	padding: 1%;
	box-shadow: 1px 1px 5px black;
	border: 1px white solid;
	
}

#contenu_form_impact{

	padding-top: 1%;
	box-shadow: 1px 1px 5px black;
}


#input_hierarchie_entreprise_fonction,#input_formation_suivie_duree{

	margin-top: 0.5%;
}

#btn_radio{

	margin-top: 1%;
}

#deuxieme_partie_form{

	margin-top: 2%;
}


#titre_form_impact_formation{

	text-align: center;
	color: white;
	margin-bottom: 3%;
	border-top: 2px white solid;
	text-shadow: 2px 2px 4px black;
	padding-top: 2%;
}


#titre_form_impact_formation1{

	text-align: center;
	color: white;
	margin-bottom: 3%;
	text-shadow: 2px 2px 4px black;
	padding-top: 2%;
}

#select_stagiaire_form_client{

	box-shadow: 1px 1px 5px black;
	border-radius: 2px;

}


#titre_form_identification{

	text-align: center;
	color: white;
	margin-bottom: 3%;


}

#sous_titre_indicateurs{

	text-align: center;
	color: white;
	margin-bottom: 2%;

}

#indic_quali{

	color: white;
}

#btn_valider_impact_formation{

	width: 100%;
	height: 50px;
	margin-top: 2%;
	margin-bottom: 2%;
	color: white;
	border-color: green;
	box-shadow: 1px 1px 5px black;
}

#btn_valider_impact_formation:hover{

	background-color: green;
}

/*CSS Page interface_formateur*/


#row_principale_interface_formateur{

	margin-top: 2%;



}

#card_principale_interface_formateur{

	border-color: white;
	background-color: white;
	box-shadow: 1px 1px 5px black;
}



#titre_header_tab_apprenants_formateur{

	color: white;
}

#tab_infos_interface_formateur{

	height: 467px;
	width: 100%;
    overflow-y:scroll;
    margin-bottom: 2%;
    position: static;
    border: 1px white solid;
    box-shadow: 1px 1px 5px black;
    background-color: white;

}

#taille_tab_formateur{

	/*height: 100px;*/
}

#lien_tab_to_csv_formateur{

	color: #2D3F58;
    bottom:0;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    border-radius: 2px;
    height: 50px;
    padding-top: 1%;
}


#card_actions_formateur{

	border: hidden;
	background-color: transparent;

}

#label_retard_absence,#label_note{

	margin-top: 22px;
	color: black;
	background-color: white;
	border: 2px white solid;
	border-radius: 1px;
	box-shadow: 1px 1px 5px black;
	font-weight: bold;
	height: 47px;


}

#btn_ajouter_com_formateur_to_apprenant,#btn_valider_note{

	border: 1px green solid;
}

#btn_ajouter_com_formateur_to_apprenant:hover{

	border-color: white;
	background-color: green;
}

#btn_valider_note:hover{

	border-color: white;
	background-color: green;

}

#btn_ajouter_com_formateur_to_apprenant,#btn_valider_retard_absence{

	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
	
}

#btn_valider_note{

	width: 100%;
	margin-top: 1%;
	color: white;

}

#exampleFormControlTextarea1,#note_apprenant{

	border-color: #E0002D;
}

#select_ajout_note_apprenant,#select_absence_retard_apprenant,#select_nom_apprenant_absouret,#note_apprenant{

	border-color: #E0002D;
	margin-top: 5px;
}

#btn_valider_retard_absence{

	color: #FF8C00;
	border: 1px #FF8C00 solid;
}

#commentaire_journalier_formation{

	margin-top: 2%;
	margin-bottom: 2%;

}

#zone_text_com_jour{

	margin-top: 1%;
}

#btn_form_com_jour_formateur{

	margin-top: 1%;
	width: 100%;
	height: 60px;
	background-color: white;
	border-radius: 2px;
	border: 1px #2D3F58 solid;
	color: #2D3F58;
	font-size: 15px;
	box-shadow: 1px 1px 5px black;

}

#form_ajout_com_journalier_formateur{

	box-shadow: 1px 1px 5px black;
	border: 1px white solid;
	border-radius: 2px;

}

#btn_valider_com_jour{

	margin-top: 3%;
	width: 100%;
	border: 1px green solid;
	color: white;

}

#btn_valider_com_jour:hover{

	background-color: green;
	border-color: white;

}

#input_date_embauche{

	margin-top: 1%;
}

/*CSS page home*/


#card_principale_home{

	background-color: transparent;
	border: hidden;
}

#tab_gestion_admin_inf{

	margin-top: 2%;	
	border: hidden; 
	border-bottom: 1px white solid;
}

#gestion_utilisateurs{

	border: hidden;
	margin-top: 1%;
	margin-top: 
	bottom:1px;
}

#card_ajout_user{

	border-color: white; 
	color: #2D3F58;
	box-shadow: 1px 1px 5px black;
	background-color: transparent;
}

#card_ajout_apprenant{

	border-color: white;
	color: #2D3F58;
	box-shadow: 1px 1px 5px black;
	background-color: transparent;
}


#headingTwo{

	border-color: #E0002D; 
	color: #2D3F58;
}

#card_liste_apprenants_admin{

	margin-top: 2%;
	border: hidden;
	border-bottom: 1px white solid;
}

#lien_tab_formateurs,#lien_tab_apprenants{

	color: #2D3F58;
}

#div_lien_tab_apprenants,#div_lien_tab_formateurs{

	height: 40px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black;
	margin-top: 0.5%;
	padding-top: 1%;

}

#label_form_user_admin{

	color: white;
}

#btn_ajout_user_admin{

	margin-top: 2%;
	width: 100%;
	border: 1px green solid;
	color: white;
	
}

#btn_ajout_user_admin:hover{


	background-color: green;
	border-color: green;
	
}

#btn_ajout_user_admin:active{


	cursor: wait;
	
}

#btn_ajout_liste_apprenants{

	margin-top: 5%;
	border-color: green;
	color: white;
	width: 100%;

}

#btn_ajout_liste_apprenants:hover{

	background-color: green;
	border: 1px green solid;
	
	
}

#user_a_suppr{

	border: 1px red solid;
	box-shadow: 1px 1px 5px black;
}

#btn_get_excel_apprenant{

	width: 100%;
	border: 1px white solid;
	color: white;
}

#btn_get_excel_apprenant:active{

	cursor: wait;
}

#form_register_apprenants{

	margin-top: 3.2%;
	
	margin-left:auto;
	margin-right: auto;

}

#input_form{

	width: 30%;
	margin-left: 1%;
	padding-bottom:1px;
}

#input_form:active{

	cursor: zoom-in;
}

#form_suivi_client{

	background-color: transparent;
}

.loader {

  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #2D3F58; /* Blue */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  animation: spin 2s linear infinite;
  text-align: center;

}

@keyframes spin {

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}

#form_suppr_form{

	background-color: transparent;
}


